
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
}

button, .home-button { 
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, .home-button:hover { 
    background-color: #0056b3;
}

.movie-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-box {
    width: 40%;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.movie-box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.matched {
    border: 2px solid #007bff; 
}
